*{
	margin:0;
	padding: 0;

}
.header{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: white;
	width: 100%;
	height: 13vh;
	align-items: center;
	
}
.header ul{
	display: flex;
	padding-right: 50px;
}
.header li{
	padding-right: 30px;
	list-style: none;
}
.header a{
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	color: #ff7100;
}
.logo{
	height: 70px;
	width: 200px;
	padding-left: 8%;
}
.cover{
	background-color: rgba(1,1,1,0.3);
	height: 80vh;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 13vh;
}
.banner{
	position: relative;
	font-family: sans-serif;
	height: 80vh;
	width: 100%;
	background-image: url(5.jpg);
	background-position: center;
	background-size: cover;

}

.banner-txt{
	position: relative;
	color: white;
	z-index: 3;
	top: 15%;
	text-align: center;
	align-items: center;
}
.banner-txt h1{
	font-size: 400%;
	font-weight: 600;
}
.banner-txt h3{
	font-size: 20px;
	font-weight: 300;
	padding-top: 25px;
}

.banner-txt h3 a{
	text-decoration: none;
	font-size: 15px;
	font-weight: 300;
	border: 2px solid white;
	background-color: red;
	color: white;
	height: 50px;
	width: 200px;
}
.banner-txt h3 a:hover{
	background-color: blue;
}
.main{
	margin:7%;
	align-items: center;
	text-align: center;
}
.main h2{
	margin:0 auto;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 35px;
	color: green;
	padding-bottom: 10%;
	
}
.icon{
	max-width: 1200px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
.icon-item{
	height: 400px;
	padding: 10px;
	background-color: whitesmoke;
	align-items: center;
	font-family: sans-serif;
}
.icon-item img{
	padding-top: 40px;
	width: 50px;
	height: 50px;
}
.icon-item h3{
	color: #ff7100;
	font-size: 17px;
	font-weight:800;
}
.icon-item p{
	padding-top: 40px;
	padding-bottom: 40px;
	font-weight: 600;
	font-size:15px;
	color:grey;
	line-height: 2;
}
.icon-txt{
	
}
.footer{
	position: relative;
	bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 9px;
	background-color: #51ff4f;
	z-index: 50;
	height: 7vh;
}